@font-face {
  font-family: Rockwell-Bold;
  src: url(typo/Rockwell/Rockwell-Bold.otf);
}
@font-face {
  font-family: Rockwell-Bolditalic;
  src: url(typo/Rockwell/Rockwell-BoldItalic.otf);
}
@font-face {
  font-family: PtSans-Italic;
  src: url(typo/PtSans/PTSans-Italic.otf);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.container {
}
.contentWrap {
  display: inline-grid;
  grid-template-columns: 25% 52% 23%;
  grid-template-rows: 75% auto;
}
.contentWrapEntitya {
}

header {
  text-align: center;
}
header,
h1 {
  color: white;

  font-family: PtSans-Italic;
  font-size: 45px;

  text-shadow: -1px -1px 0 #6222d1, 1px -1px 0 #6222d1, -1px 1px 0 #6222d1,
    1px 1px 0 #6222d1;
}

.headerImage {
  size: 100%;
}
.headerBanner {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
}

.headerMenu {
  position: fixed;
  z-index: 999;
  display: list-item;

  padding: 25px;
}
.headerMenu,
a {
  color: #6222d1;

  font-family: Rockwell-BoldItalic;
  font-size: 45px;

  text-decoration: none;
}
.headerMenu,
a:hover {
  color: white;

  font-family: Rockwell-BoldItalic;
  font-size: 45px;

  text-decoration: none;

  text-shadow: -1px -1px 0 #6222d1, 1px -1px 0 #6222d1, -1px 1px 0 #6222d1,
    1px 1px 0 #6222d1;
}

/* ---- Articles only ---- */

.listContainer {
  margin: 15px;
}
.listContainer,
h2 {
  color: #6222d1;

  font-size: 30px;
  font-family: Rockwell-BoldItalic;
}

.listContainer,
h3 {
  color: #6222d1;

  font-size: 25px;
  font-family: Rockwell-Bold;
}
.listContainer,
h4 {
  color: #6222d1;

  font-size: 22px;
  font-family: PtSans-Italic;
}
.listContainer,
p {
  color: #6222d1;

  font-size: 18px;
  font-family: PtSans-Italic;
}

.trendListContent {
  border-style: solid;
  border-width: 4px;

  padding-left: 10px;
  padding-right: 15px;

  padding-top: 10px;
  padding-bottom: 10px;
}
.trendListContent,
ol {
  color: #6222d1;

  list-style-type: decimal;
  list-style-position: outside;
}
.trendListContent,
ol,
li {
  color: #6222d1;

  font-size: 22px;
  font-family: Rockwell-Bold;
}

.shareListContent {
  margin: 5px;

  border-style: solid;
  border-width: 4px;

  padding-left: 10px;
  padding-right: 15px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.aboutListContent {
  margin: 5px;

  border-style: solid;
  border-width: 4px;

  padding-left: 10px;
  padding-right: 15px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.followListContent {
  border-style: solid;
  border-width: 4px;

  padding-left: 10px;
  padding-right: 15px;

  padding-top: 10px;
  padding-bottom: 10px;
}

/* ---- Articles only ---- */

img {
  position: relative;
  width: 100%;
}

.filtered {
  background: #6222d1;
}
.filtered img {
  filter: grayscale(100%);
  opacity: 0.5;
}

span {
  font-size: 50px;
}

.special {
  color: #6222d1;

  font-family: Rockwell-Bold;

  word-spacing: 10px;
}

.normal {
  color: #1c293e;

  font-family: PtSans-Italic;

  word-spacing: 10px;
}

.plotArticle {
  width: 100%;
}
article {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.articleHeadliner {
  background-color: yellow;

  padding-left: 15px;
  padding-right: 15px;

  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  text-align: center;
}
