@font-face {
  font-family: Rockwell-Bold;
  src: url(typo/Rockwell/Rockwell-Bold.otf);
}
@font-face {
  font-family: Rockwell-BoldItalic;
  src: url(typo/Rockwell/Rockwell-Bolditalic.otf);
}
@font-face {
  font-family: PtSans-Italic;
  src: url(typo/PtSans/PTSans-Italic.otf);
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
}

header {
  display: inline-block;
}

.menu {
  background-color: white;

  padding: 25px;
}
.menu,
a {
  color: #6222d1;

  font-family: Rockwell-BoldItalic;
  font-size: 80px;

  text-decoration: none;
}
.menu,
a:hover {
  color: white;

  font-family: Rockwell-BoldItalic;
  font-size: 80px;

  text-decoration: none;

  text-shadow: -1px -1px 0 #6222d1, 1px -1px 0 #6222d1, -1px 1px 0 #6222d1,
    1px 1px 0 #6222d1;
}
h5 {
  color: white;

  font-family: PtSans-Italic;
  font-size: 70px;

  text-shadow: -1px -1px 0 #6222d1, 1px -1px 0 #6222d1, -1px 1px 0 #6222d1,
    1px 1px 0 #6222d1;
}

.content {
  display: inline;
}

img {
  width: 100%;
}
.filtered {
  background: #6222d1;
}
.filtered img {
  filter: grayscale(100%);
  opacity: 0.5;
}

span {
  font-size: 60px;
}

.special {
  color: #6222d1;

  font-family: Rockwell-Bold;

  word-spacing: 10px;
}

.normal {
  color: #1c293e;

  font-family: PtSans-Italic;

  word-spacing: 10px;
}

.shareList {
  padding: 40px;
}

.aboutList {
  margin: 15px;
}

.listContainer {
  display: inline-block;

  border-style: solid;
  border-color: #6222d1;

  padding: 15px;
}
.listContainer,
h1,
h2 {
  color: #6222d1;

  font-family: Rockwell-BoldItalic;
  font-size: 25px;
}
.listContainer,
h3 {
  color: #6222d1;

  font-family: Rockwell-Bold;
  font-size: 20px;
}
.listContainer,
h4,
p {
  color: #6222d1;

  font-family: PtSans-Italic;
  font-size: 20px;
}
.listContainer,
ol {
  text-decoration: none;
}
.listContainer,
ol,
li {
  font-family: Rockwell-Bold;
  font-size: 25px;
}

.plotArticle {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 40%;
}
article {
  padding-bottom: 25px;
  padding-top: 25px;
}
.articleHeadliner {
  background-color: yellow;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

footer {
  align-content: center;

  padding: 15px;
}
