* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  margin: 0;
  font: 14px sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
	
  background-color: black;
	color: white;
}

article {
  width: 45%;
  color: yellow;
}
