<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>TrendFeed</title>
</head>

<body>

  <head>
    <h1>TrendFeed-logo</h1>
    <h1>hand-left</h1>
    <h1></h1>
    <h1>hand-right</h1>
  </head>

  <div class="menu">
    <a href="#trendList">Trends</a>
    <a href="#aboutList">About</a>
    <a href="#followList">Follow</a>
  </div>

  <div class="plotTrend">

    {% for trend in trends %}

    <h2>
      {{ trend }}
    </h2>

    {% endfor %}

  </div>



  <div class="plotArticle">
    {% for item in items %}
    <article>
      {% for word in item.title %}
      <span>{{ word.woord }}</span>{% endfor %}
      <!-- <h2>{{ item.title }}</h2> -->
      <img src="{{ item.image }}" alt="">
    </article>
    {% endfor %}
  </div>

  <footer>
    <p>Created by Kamiel Konings - Cis Druyts. Engine by code studio.</p>
  </footer>

</body>

</html>